
<h2>Student</h2>
<p>
    @Html.ActionLink("CreateStudent", "Register Student")
</p>
<p>
    @Html.ActionLink("Register", "Register")
</p>
<p>
    @Html.ActionLink("Register", "Register")
</p>
<p>
    @Html.ActionLink("Register", "Register")
</p>
<p>
    @Html.ActionLink("Register", "Register")
</p>